{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<!--
  Girly by FreeHTML5.co
  Twitter: https://twitter.com/fh5co
  Facebook: https://fb.com/fh5co
  URL: https://freehtml5.co
-->
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>FOTOS</title>
</head>

<body>
  <nav class="navbar navbar-expand-md  fixed-top maine-menu">
    <div class="container">
      <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"> <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" href="/">Inicio</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/#portfolio" tabindex="-1" aria-disabled="true">Portafolio</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'about'  %}" tabindex="-1" aria-disabled="true">Acerca de mi</a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'contacto'  %}" tabindex="-1" aria-disabled="true">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid fh5co-home-banner">
    <div class="card"> <img class="card-img" src="static/img/banner-img.jpg" alt="">
      <div class="card-img-overlay">
        <div class="center-text">
          <h2 class="card-title">Mi pagina</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid recent fh5co-portfolio" id="portfolio">
    <div class="container">
      
            {% block content %}
            {% endblock %} 
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid fh5co-insta-feed activity">
    <div class="container recent">
      <h2 class="text-center d-block">MIS REDES SOCIALES</h2>
      <div class="row social-links">
        <ul class="nav mx-auto">
          <li class="nav-item"> <a class="nav-link" href="https://www.facebook.com/fh5co"><img src="static/img/facebook.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="https://twitter.com/fh5co"><img src="static/img/twitter.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="static/img/pinterest.png" alt=""></a> </li>
          <li class="nav-item"> <a class="nav-link" href="#"><img src="static/img/google-plus.png" alt=""></a> </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div>
    <br>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
  <script src="static/js/jquery-3.3.1.slim.min.js"></script> 
  <script src="static/js/popper.min.js" ></script> 
  <script src="static/js/bootstrap.min.js"></script> 
  <script src="static/js/owl.carousel.min.js"></script> 
  <script src="static/js/main.js"></script>

</body>
</html>
