{% extends 'blog/base.html' %}
{% block content %}
<footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0">
      <div class="col-md-6 pr-0 pl-0 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13035.46901327725!2d-80.85396551628644!3d35.234674411422155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a03af474f38f%3A0xf8301daadf5f7670!2sFourth+Ward%2C+Charlotte%2C+NC%2C+USA!5e0!3m2!1sen!2sin!4v1551001218548"  style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 content-us">
        <div class="contact-form" id="contact">
          <h3 class="text-uppercase">Contacto</h3>
            <form action="" method="POST">
              {% csrf_token %}
              <input type="text" class="form-control" placeholder="Your Name" name="txtname">
              <input type="text" class="form-control" placeholder="Your Email" name="txtemail">
              <textarea class="form-control" placeholder="Your Message" name="txtmessage"></textarea>
              <button type="submit">Enviar</button>
            </form>
        </div>
        <h3>{{ mensaje }}</h3>
      </div>
    </div>
</footer>
{% endblock %}  

