{% extends 'blog/base.html' %}
{% block content %}
<footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0">
      <div class="col-md-6 pr-0 pl-0 map">
        <img src="static/img/activity-img2.png" style="border:0" allowfullscreen width="100%" />
      </div>
      <div class="col-md-6 content-us">
        <div class="contact-form" id="contact">
          <h3 class="text-uppercase">Contacto</h3>
            <form action="" method="POST">
              {% csrf_token %}
              <input type="text" class="form-control" placeholder="Your Name" name="txtname">
              <input type="text" class="form-control" placeholder="Your Email" name="txtemail">
              <textarea class="form-control" placeholder="Your Message" name="txtmessage"></textarea>
              <button type="submit">Enviar</button>
            </form>
        </div>
        <h3>{{ mensaje }}</h3>
      </div>
    </div>
</footer>
{% endblock %}  

