{% extends 'blog/base.html' %}

{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    
{% for post in posts %}      
                {% if post.imagen %}
                <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"><img src="static/img/heart.png" class="heart" alt="heart icon"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><p><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p></h5>
                    </div>
                </div>
{% endfor %}


{% endblock %}  

{% block prueba %}
    <p>asdfghjklñwertyuiop</p>
{% endblock %}    
