{% extends 'blog/base.html' %}
{% load static %}
{% load define_action %}




{% block content %}

<div>
    <h2>Portfolios</h2>
</div>
<div class="row">
    <div class="bx bx-1">
        {% for post in posts %}  
            <div class="card">     
                {% if post.imagen %}
                    <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><a href="{% url 'post_postb'  %}">{{ post.title }}</a></h5>
                    </div>
                </div>
            </div>  
        {% endfor %}
    </div>

    <div class="bx bx-1">
        {% for post in postsa2 %}  
                <div class="card">     
                    {% if post.imagen %}
                        <img class="card-img" src="{{ post.imagen.url }}" alt="">
                    {% endif %}
                    <div class="card-img-overlay"> <a href="#"></a>
                        <div class="bottom-text">
                            <h5 class="card-title"><a href="{% url 'post_postc'  %}">{{ post.title }}</a></h5>
                        </div>
                    </div>
                </div>  
        {% endfor %}
    </div>

    <div class="bx bx-1">
        {% for post in postsa3 %}  
                <div class="card">     
                    {% if post.imagen %}
                        <img class="card-img" src="{{ post.imagen.url }}" alt="">
                    {% endif %}
                    <div class="card-img-overlay"> <a href="#"></a>
                        <div class="bottom-text">
                            <h5 class="card-title"><a href="{% url 'post_postd'  %}">{{ post.title }}</a></h5>
                        </div>
                    </div>
                </div>  
        {% endfor %}
    </div>
</div>
{% endblock %}  
<!--    
        {% for post in posts %}  
        {% with y=forloop.counter|stringformat:"s" %}
        {% define y as action %}
        <div class="bx bx-{{ action }}">
            <div class="card">     
                {% if post.imagen %}
                    <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><a href="{% url 'post_postb'  %}">{{ post.title }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endwith %}
        {% endfor %}


        {% for post in postsa2 %}  
        {% with y=forloop.counter|stringformat:"s" %}
        {% define y as action %}
        <div class="bx bx-{{ action }}">
            <div class="card">     
                {% if post.imagen %}
                    <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk  %}">{{ post.title }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}

        {% for post in postsa3 %}  
        {% with y=forloop.counter|stringformat:"s" %}
        {% define y as action %}
        <div class="bx bx-{{ action }}">
            <div class="card">     
                {% if post.imagen %}
                    <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}

        {% for post in postsa4 %}  
        {% with y=forloop.counter|stringformat:"s" %}
        {% define y as action %}
        <div class="bx bx-{{ action }}">
            <div class="card">     
                {% if post.imagen %}
                    <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}

        {% for post in postsa5 %}  
        {% with y=forloop.counter|stringformat:"s" %}
        {% define y as action %}
        <div class="bx bx-{{ action }}">
            <div class="card">     
                {% if post.imagen %}
                    <img class="card-img" src="{{ post.imagen.url }}" alt="">
                {% endif %}
                <div class="card-img-overlay"> <a href="#"></a>
                    <div class="bottom-text">
                        <h5 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h5>
                    </div>
                </div>
            </div>
        </div>
        {% endwith %}
        {% endfor %}

 -->    
